 .robot-eye-left{ /*longhand */
  animation-name: eye-scale;
  animation-duration: 2s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.robot-eye-right{/*Shorthand*/
  animation: eye-scale 2s none infinite alternate-reverse;
}

.robot-nose{
  transition-delay: .5s;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.robot-nose:hover {
  border-top: 100px solid rgb(124, 20, 223);
}

.robot-tooth{
  transition-delay: 1s;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  animation: teeth-in-out 4s none infinite alternate;
}

.robot-ear-left{
  animation: ear-rotate 2s none infinite alternate-reverse;
}

.robot-ear-right{
  animation: ear-rotate 2s none infinite alternate;
}

.robot-hair-one,.robot-hair-two,.robot-hair-three{
  animation: up-down-hair 2s none infinite alternate
}

@keyframes up-down-hair{
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(0,55px);
  }
}

@keyframes ear-rotate{
  from{
    transform: rotate(0)
  } 
  to{
    transform: rotate(180deg);
  }
}


@keyframes teeth-in-out {
from{
  opacity: 100%;
}
to{
  opacity: 0%;
}
}

@keyframes eye-scale{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}